.grid {
  display: grid;
  gap: 1.5rem;
}

.grid-cols-fill {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.taxonomy-list a {
  border: 1px solid;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 1.5rem;
  text-decoration: none;
  transition: all;
  transition-duration: 250ms;
  outline: 1px solid transparent;
  outline-offset: 3px;
}

.taxonomy-list a:hover {
  outline: 1px solid currentColor;
}

.taxonomy-list a h2 {
  margin: 0;
  font-size: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
}
